body{
    background: linear-gradient(rgb(214, 214, 214), rgb(220, 223, 250), rgb(189, 202, 250), rgb(150, 151, 211), rgb(134, 135, 187), rgb(98, 113, 163), rgb(55, 55, 102));
    background-repeat: no-repeat;
    background-size:auto;
    font-family: JosefinSans-Medium;
    line-height: 1.5;
    main{
        .keycapstitle{
            text-align: center;
            img{
                width: 6%;
            }
        }
    }
}




