@media (min-width: 320px) and (max-width: 767px){
    .cajaimgtext1{
        display: flex;
        flex-direction: column-reverse;
        margin: 2% 3%;
        padding: 2%;
        border-style: solid;
        border-radius: 20px;
        background-color: $color-bg-tablet;
    }
}
@media (min-width: 768px) and (max-width: 1199px){
    .cajaimgtext1{
        display: flex;
        flex-direction: column-reverse;
        margin: 2% 3%;
        padding: 2%;
        border-style: solid;
        border-radius: 20px;
        background-color: $color-bg-pc;
    }
}
@media (min-width:1200px){
    .cajaimgtext1{
        display: flex;
        justify-content: space-around;
        margin: 2% 3%;
        padding: 2%;
        border-style: solid;
        border-radius: 20px;
        background-color: $color-bg-pc;
    }
}

@media (min-width: 320px) and (max-width: 767px){
    .cajaimgtext2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 2% 3%;
        padding: 2%;
        border-style: solid;
        border-radius: 20px;
        background-color: $color-bg-tablet;
    }
}
@media (min-width: 768px) and (max-width: 1199px){
    .cajaimgtext2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 2% 3%;
        padding: 2%;
        border-style: solid;
        border-radius: 20px;
        background-color: $color-bg-pc;
    }
}
@media (min-width:1200px){
    .cajaimgtext2{
        display: flex;
        margin: 2% 3%;
        padding: 2%;
        padding-right: 0;
        border-style: solid;
        border-radius: 20px;
        background-color: $color-bg-pc;
    }
}