$color-esloganbig: #000000;
$color-eslogantiny: #cb2d2d;

$color-bg-tablet: #b7a2dd;
$color-bg-pc: #ff672bdc;

$color-graysoft: #bdbdbd;
$color-bluesoft: #7896ce;

$color-violetnav: #8f50b3;
$color-graynav: #747474;